
<body>

<div id="header">
<h1>OUR MISSION</h1>
</div>

<div id="nav">
Our Philosophy<br>
Statement of Faith<br>
Our General Overseer
Our Local Pastor <br>
</div>

<div id="section">
<h6>Raising Leaders</h6>
<h6>Shaping Vision</h6>
<h6>Influencing Society through Christ</h6>

<p>Through our programs, we trust to make the lives of our people better than before they came to Church, and redirect their perception and behaviour in conformity with God's word.</p>
<p>This attitude which is based on the word of God will transform the lives of people in their communities, work place, schools etc.</p>
</div>

<div id="mission-footer">
Copyright © W3Schools.com
</div>

</body>