<body>

<div id="header">
<h1>OUR MESSAGE (Jeremiah 31:17)</h1>
</div>

<div id="nav">
Our Philosophy<br>
Statement of Faith<br>
Our General Overseer
Our Local Pastor <br>
</div>

<div id="section">
<h6>Salvation from Sin</h6>
<h6>Acceptance for the Outcast</h6>
<h6>Strength for the Weak</h6>
<h6>Prosperity for honest labour</h6>
<h6>Dominion over the flesh</h6>

<p>These and many more are what we convey through various activities to all our members in particular and the world in general.</p>
<p>We trust God to enable us present to the world the eternal truths of the bible that is doctrinally sound, spiritually inspired, mentally challenging and socially relevant.</p>
</div>

<div id="mission-footer">
Copyright © W3Schools.com
</div>

</body>