a {
    pointer:cursor;
}

#page-footer {
  background-color: #2C2723;
  width: 100%;
  bottom: 0;
  position: bottom;
}

#foot {
  color: white;
  text-align: center;
  position: bottom
}

/*.carousel {

	size: 100%
	position: center;
	width:  100%;
}*/

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#mission-footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}