a {
    pointer:cursor;
}

.nav-wrapper {

  background-color: teal;
}

.page-footer {
  background-color: teal;
  width: 100%;
  bottom: 0;
  position: fixed;
}

#foot {
  color: white;
  background-color: teal;
  text-align: center;
  position: fixed;
  bottom: 0;
}


/* Put your css in here */
    .carousel {
        margin-bottom: 60px;
    }
    
    html,
    body,
    #myCarousel,
    .carousel,
    .carousel-inner,
    .item,
    .active {
        height: 100%;
    }
    
    .bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    .carousel-indicators {
        position: absolute;
        height: 12px;
    }

   */
   

    /* carousel end */



#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#mission-footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}


